---
layout: archive
title: "<center><img src='../images/website_research.png' style='width:800px;'></center>"
permalink: /research/
author_profile: true
header:
  og_image: "research/ecdf.png"
---
<div style="border-bottom: 1px solid #333;"></div>

<center><span style='color: $twitter-color;'>**System-wide of Energy Storages**</span></center>

{% include base_path %}

{% assign ordered_pages = site.research | sort:"order_number" %}

{% for post in ordered_pages %}
  {% include archive-single-research.html type="grid" %}
{% endfor %}

