---
layout: archive
title: "<center><img src='../images/website_research.png' style='width:800px;'></center>"
permalink: /research/
author_profile: true
---
<div style="border-bottom: 1px solid #333;"></div>
<br/>
<FONT COLOR="#00acee"; Size="5px"><center><B>System-wide of Energy Storages & Environmental Sustainability</B></center></span></FONT>

<nbsp>

{% include base_path %}

{% assign ordered_pages = site.research | sort:"order_number" %}

{% for post in ordered_pages %}
  {% include archive-single-research.html type="grid" %}
{% endfor %}

